<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/about.css" />
    <link rel="stylesheet" href="~/css/service.css" />
    <link rel="stylesheet" href="~/css/login.css" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
